.header__container
  include ../common/slider.jade
  .header
    .logo__container
      a(href="#", class="logo__link")
        span.logo__text Добриво
    include ../common/topmenu.jade
    .lang__container
      .lang__selected RU
      ul.langselect__list
        each item in ['ENG', 'UA']
          li(data-value="", class="langselect__item")=item
    include ../common/mainmenu.jade
