.slider
  .slider__list-wrap
    ul.slider__list
      li(class='slider__item')
        img(src='img/backslider.png', alt='', class='slider__pic active')
      li(class='slider__item')
        img(src='img/backslider.png', alt='', class='slider__pic ')
      li(class='slider__item')
        img(src='img/backslider.png', alt='', class='slider__pic ') 
